@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fdfd96;
    font-family: "Poppins";
}

.container{
    height: 100vh;
    width: 100vw;
}

header{
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 90%;
    height: 30px;
    border-radius: 12px;
    border: none;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
    padding-left: 15px;
}

.header-content{
    display: flex;
    width: 90%;
    margin-top: 20px;
}

main{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    gap: 50px;
}

.weather-div{
    width: 90%;
    height: auto;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    margin: 0 auto;
    padding: 10px;
}

p{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
}

.city-name{
    font-size: 48px;
}

.search-bar:focus{
    border: none;
    outline: 1px solid rgba(53, 49, 49, 0.658);
    outline-offset: 1px;
}

.search-btn{
    cursor: pointer;
}

.weather-symbol{
    height: 65%;
    width: 100%;
    border-bottom: 0.5px solid rgba(53, 49, 49, 0.658);
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-info{
    /* min-height: 35%; */
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.weather-data{
    display: grid;
}
.weather-data-name{
    font-size: 12px;
}

@media(min-width: 768px){

    .container{
        height: 100vh;
        width: 60%;
        margin: 0 auto;
    } 
    
    p{
        font-size: 32px;
    }
}

@media(max-width: 419px){

    .weather-info{
        grid-template-columns: 1fr; 
        height: auto;
        justify-content: center;
    }
}
